<!DOCTYPE html>
<html>
<head>
    <title>Data Request Form</title>
</head>
<body>
    <h1>Enter Data Request</h1>
    <form method="POST" action="/get_data">
        <label for="series_id">Series ID:</label><br>
        <input type="text" id="series_id" name="series_id"><br>
        <label for="start_date">Start Date:</label><br>
        <input type="text" id="start_date" name="start_date"><br>
        <label for="end_date">End Date:</label><br>
        <input type="text" id="end_date" name="end_date"><br>
        <label for="units">Units:</label><br>
        <input type="text" id="units" name="units"><br>
        <label for="frequency">Frequency:</label><br>
        <input type="text" id="frequency" name="frequency"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
